certifi==2017.11.5
chardet==3.0.4
decorator==4.2.1
defusedxml==0.5.0
Django==1.11
django-allauth==0.34.0
idna==2.6
ipython-pip==0.3
jedi==0.11.1
oauthlib==2.0.6
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python3-openid==3.1.0
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
