{% load widget_tweaks %}

<div class="modal-dialog" role="document">
    <form action="{% url 'add-station' %}" method="POST" id="add-station-modal" class="form">{% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">add station</h4>
            </div>
            <div class="modal-body">
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                <input type="submit" class="btn btn-primary" value="save changes" />
            </div>
        </div>
    </form>
</div>
<script>
    var form_options = { target: '#add-station-modal', success: function(response) {} };
    $('#add-station').ajaxForm(form_options);
</script>
