{% extends "base_left_menu.html" %}

{% block head_title %}devices{% endblock head_title %}
{% block head %}
<style>
.modal-body .container {
    padding: 5%;
    height: auto;
    width: auto;
}
.modal-header {
    text-align: center;
    vertical-align: middle;
}
.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial th:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
</style>
{% endblock head %}

{% block content %}
<div class="col-sm-7">
    <h3 class="mb-3">devices</h3>
    <table class="table">
      <thead>
        <tr>

          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">serial number</th>
          <th scope="col">type</th>
          <th scope="col">station</th>
        </tr>
      </thead>
      <tbody class="css-serial">
        {% for device in object_list %}
        <tr>

          <th scope="row"></th>
          <td class="align-middle">{{ device.name }}</td>
          <td class="align-middle">{{ device.serial_number }}</td>
          <td class="align-middle">{{ device.get_dev_type_display }}</td>
          {% if device.stationdevice_set.first.station.pk %}
            <td class="align-middle"><a href="{% url 'detail-station' device.stationdevice_set.first.station.pk %}"> {{ device.stationdevice_set.first.station.name }} </a></td>
          {% else %}
            <td>no station</td>
          {% endif %}
          <td class="col-md-1"></td>
          <td><a class="btn btn-link text-warning" href="#">edit</a> </td>
          <td><a class="btn btn-link text-danger" href="#">delete</a> </td>
        </tr>
        {% empty %}
            <p>no devices in the database</p>
        {% endfor %}
      </tbody>
</table>

    <button role="button" class="btn btn-primary mt-4" data-toggle='modal' data-target='#add-device-modal'>add device</button>
</div>

{% endblock content %}

{% block modals %}
<div class="modal" id="add-device-modal" tabindex="-1"></div>

<script>
$('#add-device-modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
        url: "{% url 'add-device' %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
})
</script>

{% endblock modals %}

