{% extends "base.html" %}

{% block style %}
{% endblock style %}

{% block head %} {% endblock head %}

{% block content %}
	<div class="col-md-4">
        <a role="button" class="btn btn-block py-1" href="{% url 'measurement' %}">measurements</a>
        <a role="button" class="btn btn-block py-1" href="{% url 'settings' %}">settings</a>
        <a role="button" class="btn btn-block py-1" href="{% url 'info' %}">information</a>

        <a role="button" class="btn btn-block mt-4" href="{% url 'account_logout' %}">log out</a>
    </div>
{% endblock %}
