{% extends "base_left_menu.html" %}
{% block head %}
<style>
h2 {
    margin-bottom: 20px;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.test {
    border-style: solid;
    border-color: red;
}
</style>
{% endblock head %}

{% block content %}
	<div class="col-sm-7 text-center">
	    <h3 class="text-left mb-3"> Measurement </h3>
	    <form method='POST' id='values-form'> {% csrf_token %}
            <div class="form-group row">
                <select class="form-control col-sm-10" id='station' form='values-form'>
                    <option value='0'> station </option>
                {% for station in stations %}
                    <option value='{{ station.id }}'> {{ station.name }} </option>
                {% endfor %}
                </select> <a role="button" class="btn col-sm-2" href="{% url 'add-station' %}">add</a>
            </div>
            <div class="form-group row">
            <select class="form-control col-sm-10" id='referenced-device' form='values-form'>
                <option value='0'> reference device </option>
            {% for device in reference_devices %}
            <option value='{{ device.id }}'> {{ device.name }}, {{ device.serial_number }}
            </option>
            {% endfor %}
            </select><a role="button" class="btn col-sm-2" href="{% url 'add-device' %}">add</a>
            </div>
            <div class="form-group row">
            <select class="form-control col-sm-10" id='measured-device' form='values-form'>
                <option value='0'> measured device </option>
            {% for device in measured_devices %}
            <option value='{{ device.id }}'> {{ device.name }}, {{ device.serial_number }}
            </option>
            {% endfor %}
            </select> <a role="button" class="btn col-sm-2" href="{% url 'add-device' %}">add</a>
            </div>

				<div class="form-group row justify-content-start">
					<div class="col-sm-10 m-0 p-0 mt-3 mb-3">
                        <input class="form-control col-sm-12"
                               name='temperature' type='number' step='0.1' id='temperature' placeholder='temperature [&#176;C]' />
                        <input class="form-control col-sm-12" name='pressure' type='number' step='0.01' id='pressure' placeholder='atm. pressure [hPa]' />
					</div>
					<div class="col-sm-2 m-0 p-0 align-self-center">
                        <a role="button" id="btn-temp-press" class="btn" href="">download</a>
					</div>
				</div>
				<div class="form-group row justify-content-start">
                        <input class="form-control col-sm-10" type='date' id='measurement-date' placeholder='date of measurement' />
					<div class="col-sm-2 m-0 p-0 align-self-center">
                        <a role="button" id="btn-today" class="btn" href="">today</a>
                    </div>
				</div>

				<div class="form-group row justify-content-start">
					<input class="form-control col-sm-10" type='time' step='1'
                    id='measurement-time' placeholder='measurement time [m:s]' />
				</div>

				<div class="form-group row justify-content-start">
					<input class="form-control col-sm-10" type='number' step='0.01'
                    id='reference-device-volume' placeholder='reference device volume [dm&#179;]' />
				</div>

				<div class="form-group row justify-content-start">
					<input class="form-control col-sm-10" type='number' step='0.01'
                    id='measured-device-volume' placeholder='measured device volume [dm&#179;]' /><br />
				</div>
				<input class="mt-8" type='submit' id='submit-button' value='calculate' />
	    </form>
	</div>
	<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="resultsModalLabel">measurement results</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body px-auto mx-auto mw-100">
		...
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">cancel</button>
		<button type="button" id="btn-save-results" class="btn btn-primary btn-sm" data-dismiss="modal">save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">success</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h6>The data has been correctly saved to the database</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'> </script>

<script>

$('#btn-save-results').on('click', function(e) {
    e.preventDefault();
    var data = fetch_parameters();
    $.ajax({
        type: 'POST',
        url: '/save_results/',
        data: data,
        success: function(data) {
            $('#successModal').modal('show');
        }
    });
});

$('#btn-temp-press').on('click', function(e) {
    e.preventDefault();
    getTempPress();
});

function getTempPress() {
    $.ajax({
        type: 'POST',
        url: '/get_temp_press/',
        data: {
            station: $('#station option:selected').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data) {
            insertValues(data);
        },
    })
}

function insertValues(data) {
    $('#temperature').val(data['temperature']);
    $('#pressure').val(data['pressure']);
}

$('#btn-today').on('click', function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/get_todays_date/',
        data: {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data) {
            $('#measurement-date').val(data['current_date']);
        },
    })
});

function fetch_parameters(e) {
    var data_parameters = {}
    data_parameters['station'] = $('#station option:selected').val()
    data_parameters['referenced_device'] = $('#referenced-device option:selected').val()
    data_parameters['measured_device'] = $('#measured-device option:selected').val()
    data_parameters['temperature'] = $('#temperature').val()
    data_parameters['pressure'] = $('#pressure').val()
    data_parameters['measurement_date'] = $('#measurement-date').val()
    data_parameters['measurement_time'] = $('#measurement-time').val()
    data_parameters['refDevVolume'] = $('#reference-device-volume').val()
    data_parameters['measDevVolume'] = $('#measured-device-volume').val()
    data_parameters['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val()
    return data_parameters;
}

$('#values-form').on('submit', function(e) {
    e.preventDefault();
    data_parameters = fetch_parameters();
    addParameters();
});



function addParameters() {
    $.ajax({
        type: 'POST',
        url: '/parameters/',
        data: data_parameters,
        success: function(data) {
            displayValues(data);
        }

    })
}

function displayValues(data) {
    $('#resultsModal .modal-body').html(data);
    $('#resultsModal').modal('show');
}

function displayValuesModal() {
}

</script>

{% endblock content %}

