{% extends "base_left_menu.html" %}

{% block head_title %}stations{% endblock head_title %}

{% block head %}
<style>
.modal-body .container {
    padding: 5%;
    height: auto;
    width: auto;
}
.modal-header {
    text-align: center;
    vertical-align: middle;
}
.css-serial {
  counter-reset: serial-number;
}
.css-serial th:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}
</style>
{% endblock head %}

{% block content %}
<div class="col-sm-7">
    <h3 class="mb-3"> stations </h3>
    <table class="table">
        {% if object_list %}
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">longitude</th>
            <th scope="col">latitude</th>
        </tr>
        </thead>
        {% endif %}
        <tbody class="css-serial">
        {% for station in object_list %}
        <tr>
            <th class="align-middle"></th>
            <td class="align-middle">{{ station.name }}</td>
            <td class="align-middle">{{ station.longitude }}</td>
            <td class="align-middle">{{ station.latitude }}</td>
            <td class="col-md-1"></td>
            <td><a class="btn btn-link text-warning" href="#">edit</a> </td>
            <td><a class="btn btn-link text-danger" href="{% url 'delete-station' station.pk %}">delete</a> </td>
        </tr>
        {% empty %}
        <p>no stations in the database</p>
        {% endfor %}
        </tbody>
    </table>
    <button role="button" class="btn btn-primary mt-4" data-toggle='modal' data-target='#add-station-modal'>
        add station </button>
</div>
{% endblock content %}

{% block modals %}
<div class="modal" id="add-station-modal" tabindex="-1"></div>

<script>
$('#add-station-modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
        url: "{% url 'add-station' %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
})
</script>
{% endblock modals %}


